.selector-wrapper {
  display: flex;
}
.selector-one-row{
    display: flex;
}
label {
  margin: auto 20px;
  color: grey;
  font-weight: lighter;
}
 .selector-one-row .select-district {
  width: 640px;
  height: 45px;
}
.custom-style {
  border: none;
  border-radius: 5px;
  background-color: rgb(222, 239, 243);
  margin: auto 20px;
}
.custom-style:focus{
    outline: none;
}
.custom-style option{
background-color: none;
}
.selector {
  width: 300px;
  height: 45px;
}
