.side-nav-container {
    max-width: 225px;
    border: 0px 1px 0px 0px;
    background-color: white;

    .history-view {
        display: flex;
        gap: 12px;
        width: 72px;
        margin-top: 40px;
        margin-left: 16px;

        img,
        div {
            color: #000212;
        }

        div {
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .history-section-wrapper {
        width: 172px;
        height: 540px;
        margin-left: 16px;
        margin-top: 40px;

        .today-wrapper {
            margin-bottom: 24px;
            cursor: pointer;

            .chat-description {
                margin-left: 8px;
                margin-top: 5px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        p {
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-bottom: 24px;
            color: #444653;

        }

    }
}