.main-container {
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 2.5rem;
  .main-content {
    color: white;
    font-size: 5rem;
    height: fit-content;
    line-height: 1.1;
    margin: 6rem auto;
    max-width: 104rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    h1 { 
      font-size: 12rem;
      line-height: 0.9;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      span {
        background-image: linear-gradient(25deg,#2600fc,#ff00ea);
        font-size: 10rem !important;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .crypto-list{
      margin: 7rem auto;
      display: flex;
      flex-direction: row;
      gap: 15rem;
      .coin-view{
      }
    }
  }
}
