.main-container {
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 2.5rem;
  .main-content {
    color: white;
    font-size: 5rem;
    height: fit-content;
    line-height: 1.1;
    margin: 9rem auto;
    max-width: 104rem;
    position: relative;
    text-align: center;
    h1 {
      font-size: 12rem;
      line-height: 0.9;
      text-transform: uppercase;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      span {
        background-image: linear-gradient(25deg, #2600fc, #ff00ea);
        font-size: 10rem !important;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .crypto-list {
      margin: 7rem auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15rem;
      font-weight: 600;
      flex-wrap: wrap;
      .coin-view {
        font-size: 2rem;
        cursor: pointer;
        img {
          height: 9rem;
          width: 9rem;
          margin-bottom: 1rem;
        }
        .coin-name {
          margin-bottom: 1rem;
          .green-text{
            color: green;
          }
          .red-text{
            color: red;
          }
        }
      }
    }
  }
}
